{% extends "base.html.twig" %}

{% block title %}Liste catégories{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nom :</th>
            <th>Prenom : </th>
            <th>Etude :</th>
            <th></th>
            <th></th>
        </tr>
        {% for etudiant in etudiants %}
            <tr>
                <th>{{etudiant.id}} </th>
                <th>{{etudiant.nom}} </th>
                <th>{{etudiant.prenom}} </th>
                <th>{{etudiant.prenom}} </th>
                <th><a href={{ path('edit_etudiant', {id: etudiant.id}) }}>Modifier</a></th>
                <th><a href={{ path('delete_etudiant', {id: etudiant.id}) }}>Supprimer</a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}